#newBlogView,
#editBlogView {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.5em;
    font-weight: normal;
  }
  h4 {
    font-size: 1em;
  }

  .ce-block-static {
    width: 90%;
    & > * {
      outline: none !important;
      margin: 10px auto;
      padding: 0px;
      max-width: 650px;
    }
    #blogDescription:empty::before {
      content: 'Description';
      color: gray;
    }
    #blogTitle:empty::before {
      content: 'Title';
      color: gray;
    }
  }

  blockquote {
    font-style: italic;
    border-left: 5px solid gray;
    .cdx-input.cdx-quote__text {
      font-size: 1.3em;
      min-height: unset;
    }
    .cdx-input.cdx-quote__caption {
      font-weight: 500;
      font-size: 1em;
      text-align: right;
    }
    .cdx-input {
      border: none;
      box-shadow: none;
    }
  }
}

#blogViewSection {
  $primary: #39ff14;

  .block {
    &-header {
      margin: 20px 0px;
      .h1 {
        font-size: 2.5em;
        font-weight: bold;
      }
      .h2 {
        font-size: 2em;
        font-weight: bold;
      }
      .h3 {
        font-size: 1.5em;
        font-weight: normal;
      }
      .h4 {
        font-size: 1em;
      }
    }

    &-table {
      margin: 20px 0px;
      table {
        border-radius: 20px;
        overflow: hidden;
        background-color: lighten($primary, 10);
        padding: 0;
        width: 100%;
        // & {
        border: 1px solid $primary;
        // }
        thead {
          // background-color: lighten($primary, 10);
          td {
            text-transform: uppercase;
            padding: 10px;
            border-bottom: 2px solid $primary;
            text-align: center;
            &:not(:last-child) {
              border-right: 1px solid $primary;
            }
          }
        }

        tbody {
          td {
            padding: 10px;
            background-color: lighten($primary, 30);
            text-align: center;
          }
        }
      }
    }

    &-image {
      margin: 20px 0px;
      width: 100%;
      &.full-width {
        .image {
          max-height: 70vh;
          overflow: hidden;
        }
      }
      &.bordered {
        padding: 2px;
        border: 1px solid $primary;
      }
      &.with-bg {
        background-color: $primary;
      }
    }

    &-warning {
      margin: 20px 0px;
      background-color: lighten($primary, 20);
      padding: 5px 20px;
      border-radius: 10px;
      .title {
        font-size: 1.5em;
      }
    }

    &-code {
      margin: 20px 0px;
      code {
        padding: 30px;
      }
    }

    &-quote {
      font-style: italic;
      border-left: 5px solid gray;
      blockquote {
        font-size: 1.5em;
      }
      .author {
        text-align: right;
        font-weight: 500;
      }
    }

    &-link {
      width: 80%;
      cursor: pointer;
      display: flex;
      padding: 15px;
      border: 1px solid $primary;
      text-decoration: none;
      color: inherit;
      // background: white;
      &:hover {
        box-shadow: 0px 0px 5px 0px $primary;
      }
      .content {
        flex: 1;
        padding: 10px;
        border-right: 1px solid lightgray;
        .title {
          font-weight: 800;
        }
        .description {
        }
      }

      .cover {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        width: 20%;
      }
    }

    &-embed {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      & > .caption {
        width: 100%;
      }
    }
  }

  .caption {
    font-size: 13px;
    color: gray;
    display: block;
    text-align: center;
    a {
      margin: 0px 10px;
      font-size: 13px;
      text-decoration-color: $primary;
      color: darken($primary, 10);
    }
    & + .caption {
      font-size: 15px;
    }
  }
}
